[Desktop Entry]
Name=Soqucoin Core
Comment=Connect to the Soqucoin P2P Network
Comment[de]=Verbinde mit dem Soqucoin peer-to-peer Netzwerk
Comment[fr]=Soqucoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Soqucoin, eşten eşe kriptografik sanal para birimi
Exec=soqucoin-qt %u
Terminal=false
Type=Application
Icon=soqucoin128
MimeType=x-scheme-handler/soqucoin;
Categories=Office;Finance;
